
        {% include 'header.html' %}

        <!--Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/home-bg1.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Tam's Blog</h1>
                            <span class="subheading">A collection of Tam's random musings.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->

        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in posts:%}
                    <div class="post-preview">
                        <a href="post/{{post['id']}}"> <!-- "post.html ///{{ url_for('get_post', num=post['id']) }}-->
                            <h2 class="post-title">{{ post['title'] }}</h2>
                            <h3 class="post-subtitle">{{ post['subtitle'] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by {{ post['author'] }}
                            <a href="#!">Tam Tran</a>
                            on September 26, 201{{ post['id'] }}
                        </p>
                    </div>

                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
<!--                    &lt;!&ndash; Post preview&ndash;&gt;
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 18, 2023
                        </p>
                    </div>
                    &lt;!&ndash; Divider&ndash;&gt;
                    <hr class="my-4" />
                    &lt;!&ndash; Post preview&ndash;&gt;
                    <div class="post-preview">
                        <a href="templates/post.html">
                            <h2 class="post-title">Science has not yet mastered prophecy</h2>
                            <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2023
                        </p>
                    </div>
                    &lt;!&ndash; Divider&ndash;&gt;
                    <hr class="my-4" />
                    &lt;!&ndash; Post preview&ndash;&gt;
                    <div class="post-preview">
                        <a href="templates/post.html">
                            <h2 class="post-title">Failure is not an option</h2>
                            <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2023
                        </p>
                    </div>
                    &lt;!&ndash; Divider&ndash;&gt;
                    <hr class="my-4" />-->
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

